.generic-card{
    width: 25%;
    display: flex;
    flex-direction: column;
    .generic-card__image-container{
        flex: 50%;
        overflow: hidden;
    }

}

@media (max-width: 1024px){
    .generic-card{
        width: 30%;
    
    }
}

@media (max-width: 767px){
    .generic-card{
        width: 100%;
    
    }
}