.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 70px;
    box-shadow: 0 5px 8px var(--box-shadow);
    background: var(--header-bg);
    color: var(--font-color);


    .header__dark-mode{
        button{
            display: flex;
            align-items: center;
            border: none;
            background: transparent;  
            color: var(--font-color);      
            span{
                padding-right: 10px;
            }
            p{
                margin-bottom: 0;
            }
        }

    }
}