.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 70px;
    box-shadow: 0 5px 8px #ededed;
    background: #fff;


    .header__dark-mode{
        display: flex;
        align-items: center;
        span{
            padding-right: 10px;
        }
        p{
            margin-bottom: 0;
        }
    }
}