.home-page{
    background-color: var(--body-bg);
    margin-bottom: 60px;

    .home-page__search-bar{
        display: flex;
        padding: 45px 70px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media (max-width: 767px){

    .home-page{
        .home-page__search-bar{
            padding: 45px 20px;
        }
    }
}