.listing{
    padding: 0 70px ;
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(4, 257px);

}


@media (max-width: 1024px){
    .listing{
        gap: 30px;
        grid-template-columns: repeat(3, 209px);
        padding: 0 40px;


    
    }
}

@media (max-width: 767px){
    .listing{
        padding: 0 20px;
        grid-template-columns: repeat(1, 1fr);
    
    }
}